.container-feedback {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.h1feedback {
    text-align: center;
}

.labelfeedback {
    display: block;
    margin-bottom: 5px;
}

.inputfeedback, .textareafeedback {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnfeedback {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btnfeedback:hover {
        background-color: #2980b9;
    }

.card-imgbarber img {
    margin-right: 20px; 
}

.text-section {
    margin-left: 20px; 
}

