footer {
    background-color: #dfdfdf;
    color: #000;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .footer-content p {
        margin: 0;
    }
