html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

/*rodapé*/
footer {
    background-color: #dfdfdf;
    color: #000;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .footer-content p {
        margin: 0;
    }
/*rodapé*/

/*formulário login*/
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-login {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title-login {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container-login {
    position: relative;
}

    .input-container-login input, .form-login button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
    }

    .input-container-login input {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 300px;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .input-container-login span {
        display: grid;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        place-content: center;
    }

        .input-container-login span svg {
            color: #9CA3AF;
            width: 1rem;
            height: 1rem;
        }

.submit-login {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.signup-link-login {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

    .signup-link-login a {
        text-decoration: underline;
    }
/*formulário login*/


/*formulário de registro*/
.container-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-registro {
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

    .container-registro header {
        font-size: 1.2rem;
        color: #000;
        font-weight: 600;
        text-align: center;
    }

    .container-registro .form-register {
        margin-top: 15px;
    }

.form-register .input-box {
    width: 100%;
    margin-top: 10px;
}

.input-box label {
    color: #000;
}

.form-register :where(.input-box input) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #4F46E5;
    border-radius: 6px;
    padding: 0 15px;
    background: #fff;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form-register .column-register {
    display: flex;
    column-gap: 15px;
}

.form-register button {
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #4F46E5;
}

    .form-register button:hover {
        background: #EE3E34;
    }
/*formulário de registro*/