@{
    ViewData["Title"] = "Página do administrador";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ADM</h1>
</div>

<hr />

<p>Alguns não ta funcionando</p>
<select id="selectActionAdministrator" name="selectActionAdministrator">
    <option value="" selected>Opções de Usuário</option>
    <option onclick="redirecionarAdministrator()" value="Access/Register">Cadastrar Usuário</option>
</select>


<select id="selectActionService" name="selectActionService">
    <option value="" selected>Opções de Serviços</option>
    <option onclick="redirecionarService()" value="Home/Index">Serviços</option>
    <option onclick="redirecionarService()" value="Service/Register">Criar Serviço</option>
</select>

<select id="selectActionScheduling" name="selectActionScheduling">
    <option value="" selected>Opções de Agendamento</option>
    <option onclick="redirecionarScheduling()" value="Scheduling/Index">Agendamentos</option>
    <option onclick="redirecionarScheduling()" value="Scheduling/ToSchedule">Agendar</option>
</select>



<script src="~/js/validator.js"></script>