@{
    ViewData["Title"] = "Página do administrador";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ADM</h1>
</div>

<hr />

<a asp-controller="Administrator" asp-action="RegisterUser">Cadastrar Usuário</a>