@model barber_shop.Models.ViewModel.UserFormViewModelAdm

@{
    ViewData["Title"] = "Cadastro de Usuário";
}

@if (TempData["ErrorRegister"] is not null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-2 container-cadastro" id="alert-register" role="alert" heigth="100px">
        @TempData["ErrorRegister"].ToString()
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container-cadastro">
    <section class="container-registro mt-3">
        <header>Formulário de Registro</header>
        <form class="form-register" asp-action="RegisterUser">
            <div class="input-box">
                <label asp-for="Client.Name"></label>
                <input asp-for="Client.Name" placeholder="Entre com seu nome">
                <span asp-validation-for="Client.Name" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="Client.Cpf"></label>
                <input asp-for="Client.Cpf" placeholder="Entre com seu CPF" type="text">
                <span asp-validation-for="Client.Cpf" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="Client.Gender" class="control-label"></label>
                <!--asp-items constroi uma caixa de seleção com base na lista informada-->
                <!--1arg- fonte de dados da coleção 2arg- qual atributo será a chave 3arg- qual informação aparecerá para o usuário-->
                <select asp-for="Client.GenderId" asp-items="@(new SelectList(Model.Genders, "Id", "Description"))"></select>
            </div>

            <div class="input-box">
                <label asp-for="Client.Address.PublicPlace"></label>
                <input asp-for="Client.Address.PublicPlace" placeholder="Entre com seu logradouro">
                <span asp-validation-for="Client.Address.PublicPlace" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="Client.Address.Neighborhood"></label>
                <input asp-for="Client.Address.Neighborhood" placeholder="Entre com seu bairro">
                <span asp-validation-for="Client.Address.Neighborhood" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="Client.Address.Locality"></label>
                <input asp-for="Client.Address.Locality" placeholder="Entre com sua localidade">
                <span asp-validation-for="Client.Address.Locality" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="Client.Address.ZipCode"></label>
                <input asp-for="Client.Address.ZipCode" placeholder="Entre com seu CEP">
                <span asp-validation-for="Client.Address.ZipCode" class="text-danger"></span>
            </div>

            <div class="column-register">
                <div class="input-box">
                    <label asp-for="Client.Telephone"></label>
                    <input asp-for="Client.Telephone" placeholder="Enter com seu telefone" type="telephone">
                    <span asp-validation-for="Client.Telephone" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="Client.BirthDate"></label>
                    <input asp-for="Client.BirthDate">
                    <span asp-validation-for="Client.BirthDate" class="text-danger"></span>
                </div>
            </div>

            <div class="input-box">
                <label asp-for="Client.Profile.Email"></label>
                <input asp-for="Client.Profile.Email">
                <span asp-validation-for="Client.Profile.Email" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="Client.Profile.Password"></label>
                <input asp-for="Client.Profile.Password">
                <span asp-validation-for="Client.Profile.Password" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="Client.Profile" class="control-label"></label>
                <!--asp-items constroi uma caixa de seleção com base na lista informada-->
                <!--1arg- fonte de dados da coleção 2arg- qual atributo será a chave 3arg- qual informação aparecerá para o usuário-->
                <select asp-for="Client.Profile.CategoryId" asp-items="@(new SelectList(Model.AccountCategorys, "Id", "Description"))"></select>
            </div>
            <button>Submit</button>
        </form>
    </section>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
