@model barber_shop.Models.User;
@using Microsoft.AspNetCore.Identity;
@using barber_shop.Models.Enums;

@{
    ViewData["Title"] = "Alterar senha";
}

@if (TempData["ErrorChange"] is not null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '@TempData["ErrorChange"].ToString()'
        })
    </script>
}
<div class="container-cadastro">
    <section class="container-registro mt-3">
        <header>Alterar Senha</header>
        <form class="form-register" asp-action="ChangePassword" enctype="multipart/form-data">
            <div class="input-box">
                <label>Confirme seu CPF</label>
                <input id="cpf" asp-for="Cpf" placeholder="Insira seu CPF" type="text">
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label>Digite a nova senha</label>
                <input id="senha" asp-for="Profile.Password" type="password" placeholder="Insira uma nova senha">
                <span asp-validation-for="Profile.Password" class="text-danger"></span>
            </div>
            <button>Alterar</button>
        </form>
    </section>
</div>

<script src="~/js/register.js"></script>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
